body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: violet;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: violet;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

.search-button {
  color: violet;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.vanilla-weather-app {
  padding: 20px;
  border: 1px solid violet;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}
.temperature {
  margin-right: 10px;
  height: 64px;
  width: 64px;
  color: violet;
  font-size: 64px;
  font-weight: 400;
}
.unit {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.forecast-temperature {
  font-size: 16px;
}

.forecast-temperature-min {
  opacity: 0.5;
}

.forecast-temperature-max {
  opacity: 0.5;
}
